#right-column-module.set-width
  .body
    %h4= "#{@user.username.upcase}'S MOST POPULAR"
    %hr
    %ol.most-popular
      - @most_popular.each do |l|
        %li= link_to l.name, list_path(l)


  
