#lists{"ng-repeat" => "list in bookmarks"}
  .list.row{"i-toggle-list"=> true, "ng-controller" => "ListGroupCtrl", "ng-include" => "'partials/list_group.html'", "ng-if" => "list.resource_type != 'Request'"}
