.modal-header
  %h3 Are you sure you want to delete this?
.modal-body
  %b The will be permanently removed
.modal-footer
  %button.btn.btn-primary{"ng-click" => "ok()"} OK
  %button.btn.btn-warning{"ng-click" => "cancel()"} Cancel
