.footer
  %ul
    %li
      %a{href: "/about"} ABOUT US
    %li
      %a{href: "/faq"} FAQ'S
    %li
      %a{href: "/contact"} CONTACT US
    %li
      %a{href: "http://facebook.com/intralist"}
        %img{src: "../../assets/footer_facebook.png", :height => "20", :border => "0"}
    %li
      %a{href: "http://www.twitter.com/intralist"}
        %img{src: "../../assets/footer_twitter.png", :height => "20", :border => "0"}
