.navigator
  %ul
    %li.heading.active BEST OF
    %li
      %ol
        %li Best places to go fishing
        %li Best Headgear for wrestling
        %li Best RC cars 
        %li Best places to Ski in the Northeast
    %li.heading TRENDING
    %li.collapsed
      %ol
        %li Best places to go fishing
        %li Best Headgear for wrestling
        %li Best RC cars 
        %li Best places to Ski in the Northeast
    %li.heading INTRALISTS
    %li.collapsed
      %ol
        %li Best places to go fishing
        %li Best Headgear for wrestling
        %li Best RC cars 
        %li Best places to Ski in the Northeast
    %li.heading REQUESTS
    %li.collapsed
      %ol
        %li Best places to go fishing
        %li Best Headgear for wrestling
        %li Best RC cars 
        %li Best places to Ski in the Northeast
.clear

  
