.create-new-list{:class => "row", "auto-save" => true, "auto-save-name" => "list"}
  .a.col-xs-12.col-sm-12.col-md-8.col-lg-8.col-md-push-4.col-lg-push-4{"ng-include" => "'partials/list_form.html'"}
  .b.col-xs-12.col-sm-12.col-md-4.col-lg-4.col-lg-pull-8.col-md-pull-8{"ng-include" => "'partials/item_thumbnails.html'"}
