%h1 About Us
%p
  Intralist makes discovery more visual, fun and efficient by applying a familiar "top-five" format to all things digital. We help friends, consumers, brands, and publishers share information through interactive lists, allowing them to comment, re-create, request, like and share through social media. By aggregating content Intralist delivers a definitive list on every topic.
