%h1 FAQs
%p
  %dl
    %dt Why does Intralist exist?
    %dd
      We created Intralist becasue digital content is growing rapidly and demands new, more efficient ways to navigate and search the landscape.
    
    %dt What is an intralist?
    %dd
      An intralist is an aggregation of like-lists from the community that provides the top five shared list items. Content providers – users, publishers,  brands – all power intralists, creating definitive results on a topic.
    
    %dt How do I advertise on Intralist?
    %dd 
      Advertising and unique Partnership opportunities are available on Intralist. Please email all inquiries to: <a href="mailto:info@intralist.com">info@intralist.com</a>
    
    %dt Is Intralist free?
    %dd Yes, Intralist is free to users and always will be.
    
    %dt Is there a mobile App?
    %dd There will be and we’re working on it now!
